body{
    margin:0;
}
.container{
    display: grid;
    grid-template-columns: 1fr 6fr;


}
.left{
    background-color: blue;
    color: white;
padding: 20px;
display: flex;
flex-direction: column;
gap: 20px;
}

.left div > * {
    margin-right: 5px; }
.head{
    display: grid;
    grid-template-columns: 6fr 1fr;
    margin-top: 20px;
    margin-bottom: 40px;;
    filter:100%; 
}
.search{
    flex:1;
    

}
img{
height: 20px;
width: 20px;
}
img:not(.exclude-invert) {

filter: invert(100%); 
}

.header{
    display: flex;
}
.name{
    flex: 1;
    padding: 10px;
}
.search{
    border-radius: 12px;
}
button{
    margin: 10px;
    height: 30px;
    width:70px;
    border-radius: 12px;
    color: white;
    background-color: blue;
    font-weight: bolder;
}
.projects{
    padding: 20px;
    padding-top: 30px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-template-rows: repeat(5, 1fr);
    display: grid;
}
.project{

    padding: 30px;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    background-color: white;
    border-radius: 12px;


}
.projectTitle{
    font-size: 20px;;
    font-weight: bolder;

}
.projectDescription{
    font-size: 15px;
    font-weight: normal;
}
.project img {
margin-top: 20px;
    margin-right: 10px; 
}
.projectIcons {
    display: flex;
    gap: 20px;
    flex-direction: row-reverse; 
}
.main{

    background-color: lightgrey;

    display: grid;
    grid-template-columns: 2fr 1fr;
}
.projHeader{
    background-color: lightgrey;
    padding: 20px;
    font-weight: bolder;
    font-size: 20px;
    padding: 30px;
}
.mainRight{
    padding: 30px;
    background-color: lightgrey;
    border-radius: 12px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    font-weight: bolder;
    font-size: 20px;
    padding: 30px;
}
.announcements{

    background-color: white;
    padding: 20px;
    border-radius: 12px;

}
.trending{

    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 12px;

}
.text{
    font-size: 15px;

}
.title{
    font-size: 17px;
}
